<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<!-- Filters list start-->
	<filter>
	      <filter-name>nologuserfilter</filter-name>
	      <filter-class>nologuserfilter</filter-class>
	 </filter>
	<filter>
	      <filter-name>nouserallowedfilter</filter-name>
	      <filter-class>nouserallowedfilter</filter-class>
	 </filter>
	<filter>
	      <filter-name>noadminallowedfilter</filter-name>
	      <filter-class>noadminallowedfilter</filter-class>
	 </filter>
	<filter>
	      <filter-name>logfilter</filter-name>
	      <filter-class>logfilter</filter-class>
	 </filter>filtererror<filter>
	      <filter-name>filtererror</filter-name>
	      <filter-class>filtererror</filter-class>
	 </filter>
	
	<!-- Filters list end-->
		<filter-mapping>
	      <filter-name>logfilter</filter-name>
	      <url-pattern>/addcategory.jsp</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>nologuserfilter</filter-name>
	      <url-pattern>/register.jsp</url-pattern>
	 </filter-mapping>
			<filter-mapping>
	      <filter-name>nologuserfilter</filter-name>
	      <url-pattern>/index.jsp</url-pattern>
	 </filter-mapping>
	<filter-mapping>
	      <filter-name>nologuserfilter</filter-name>
	      <url-pattern>/login.jsp</url-pattern>
	 </filter-mapping>
	
		<filter-mapping>
	      <filter-name>nouserallowedfilter</filter-name>
	      <url-pattern>/adminindex.jsp</url-pattern>
	</filter-mapping>	
	<filter-mapping>
	      <filter-name>nouserallowedfilter</filter-name>
	      <url-pattern>/addcourse.jsp</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>nouserallowedfilter</filter-name>
	      <url-pattern>/delete.jsp</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>nouserallowedfilter</filter-name>
	      <url-pattern>/update.jsp</url-pattern>
	</filter-mapping>
			<filter-mapping>
	      <filter-name>noadminallowedfilter</filter-name>
	      <url-pattern>/userindex.jsp</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>noadminallowedfilter</filter-name>
	      <url-pattern>/takequestionsindex.jsp</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>noadminallowedfilter</filter-name>
	      <url-pattern>/takequestions.jsp</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>noadminallowedfilter</filter-name>
	      <url-pattern>/taketestindex.jsp</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>noadminallowedfilter</filter-name>
	      <url-pattern>/taketest.jsp</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>noadminallowedfilter</filter-name>
	      <url-pattern>/result.jsp</url-pattern>
	</filter-mapping>
	
	
	<filter-mapping>
	      <filter-name>filtererror</filter-name>
		<url-pattern>/addcourse</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>filtererror</filter-name>
		<url-pattern>/delete</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>filtererror</filter-name>
		<url-pattern>/newcat</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>filtererror</filter-name>
		<url-pattern>/takequestions</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>filtererror</filter-name>
		<url-pattern>/taketest</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>filtererror</filter-name>
		<url-pattern>/update</url-pattern>
	</filter-mapping>
		<filter-mapping>
	      <filter-name>filtererror</filter-name>
		<url-pattern>/view1</url-pattern>
	</filter-mapping>	
</web-app>